body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#inventory-dropdown,
#services-dropdown,
#sales-dropdown {
  color:white
}

#manufacturers-dropdown,
#vehicles-dropdown,
#autos-dropdown,
#technicians-dropdown,
#appointments-dropdown,
#salespeople-dropdown,
#customers-dropdown,
#saless-dropdown {
  color:black
}

.cancel-button{
  color: #fff;
  background-color:rgb(254, 21, 21);
  width: 100px;
  float:right;
}

.finish-button{
  color: #fff;
  background-color:#13aa52;
  width: 100px;
  float:right;
}

.container-fluid {
  padding: 0px;
}

.carousel-box {
  height: calc(100vh - 50px);
}

#title1,
#title2,
#title3 {
  font-size: 65px
}

#caption1,
#caption2,
#caption3 {
  font-size: 25px
}
